@model IEnumerable<Auction.Models.tbl_Bid>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Property.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Property.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.B_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.B_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.B_ID })
        </td>
    </tr>
}

</table>
